<header class="primary-header flex" style="justify-content: space-between">
	<div class="logo">
		<a href="/">
			<img src="./assets/shared/logo.svg" alt="space tour logo" />
		</a>
	</div>
	<button
		class="mobile-nav-toggle"
		aria-controls="primary-navigation"
		aria-expanded="false"
	>
		<span class="sr-only">Menu</span>
	</button>
	<nav>
		<ul
			id="primary-navigation"
			data-visible="false"
			class="primary-navigation flex"
		>
			<li>
				<a class="underline" href="/" aria-selected="true"
					><span aria-hidden="true">00</span>home</a
				>
			</li>
			<li>
				<a class="underline" href="/destination" aria-selected="false"
					><span aria-hidden="true">01</span>destination</a
				>
			</li>
			<li>
				<a class="underline" href="/crew" aria-selected="false"
					><span aria-hidden="true">02</span>crew</a
				>
			</li>
			<li>
				<a class="underline" href="/``technology" aria-selected="false"
					><span aria-hidden="true">03</span>technology</a
				>
			</li>
		</ul>
	</nav>
</header>
