.menu-btn {
	display: block;
	position: absolute;
	z-index: 2;
	top: 33px;
	right: 1.5rem;
	background: transparent;
	background-repeat: no-repeat;
	border: none;
	background-image: url('../../assets/shared/icon-hamburger.svg');
	width: 24px;
	height: 21px;
	cursor: pointer;
}

.menu-btn[aria-expanded='true'] {
	background-image: url('../../assets/shared/icon-close.svg');
}

@media (min-width: 600px) {
	.menu-btn {
		display: none;
	}
}
