<%- include('includes/head') %>

<body class="destination">
	<%- include('includes/header.ejs') %>

	<h2 class="numbered-title ff-sans-cond fs-500 letter-spacing-2 uppercase">
		<span class="ff-sans-cond fs-500 letter-spacing-2 uppercase">01</span>pick
		your destination
	</h2>

	<main class="main flex">
		<div class="image" style="align-self: center">
			<img src="./assets/destination/image-moon.png" alt="" />
		</div>

		<div class="main-content">
			<div class="tabs flex" style="gap: 2rem; margin-bottom: 1.5rem">
				<a href="/" aria-selected="true" class="underline uppercase">Moon</a>
				<a
					href="destination-mars.html"
					aria-selected="false"
					class="underline uppercase"
					>Mars</a
				>
				<a
					href="destination-europa.html"
					aria-selected="false"
					class="underline uppercase"
					>Europa</a
				>
				<a
					href="destination-titan.html"
					aria-selected="false"
					class="underline uppercase"
					>TITAN</a
				>
			</div>
			<h1
				class="ff-sans-cond uppercase text-accent letter-spacing-2 fs-500"
				style="font-weight: var(--fw-400)"
			>
				<span class="ff-serif uppercase text-white block fs-800">moon</span>
			</h1>
			<p class="text-accent">
				See our planet as you’ve never seen it before. A perfect relaxing trip
				away to help regain perspective and come back refreshed. While you’re
				there, take in some history by visiting the Luna 2 and Apollo 11 landing
				sites.
			</p>

			<div class="sub-content flex">
				<h3 class="ff-sans-cond fs-200 uppercase letter-spacing-3 text-accent">
					Avg. Distance<span
						class="text-white ff-serif uppercase"
						style="
							font-size: 1.75rem;
							display: block;
							letter-spacing: initial;
							margin-top: 12px;
						"
						>384,400 km</span
					>
				</h3>
				<h3 class="ff-sans-cond fs-200 uppercase letter-spacing-3 text-accent">
					Est. travel time<span
						class="text-white ff-serif uppercase"
						style="
							font-size: 1.75rem;
							display: block;
							letter-spacing: initial;
							margin-top: 12px;
						"
						>3 days</span
					>
				</h3>
			</div>
		</div>
	</main>
</body>

<%- include('includes/end.ejs') %>
