<%- include('includes/head') %>  

	<body class="home">
		
		<%- include('includes/header.ejs')  %> 

		<main class="main flex">
			<div class="main-content">
				<h1
					class="ff-sans-cond uppercase text-accent letter-spacing-2 fs-500"
					style="font-weight: var(--fw-400)"
				>
					So, you want to travel to
					<span class="ff-serif uppercase text-white block fs-900">space</span>
				</h1>
				<p class="text-accent">
					Let's face it; if you want to go to space, you might as well genuinely
					go to outer space and not hover kind of on the edge of it. Well sit
					back, and relax because we'll give you a truly out of this world
					experience!
				</p>
			</div>
			<div>
				<a
					href="/destination"
					class="
						large-button
						ff-serif
						text-dark
						bg-white
						fs-600
						uppercase
						letter-spacing-3
					"
				>
					<span></span>
					Explore
				</a>
			</div>
		</main>

		
	</body>
</html>
